body{
font-family: Arial;
padding:20px;
}

.tables{
display:flex;
gap:20px;
}

.budget-table{
border-collapse:collapse;
width:33%;
}

.budget-table td, .budget-table th{
border:1px solid #aaa;
padding:8px;
text-align:center;
}

.title th{
background:black;
color:white;
font-size:18px;
}

[contenteditable]{
outline:none;
border-bottom:1px solid black;
}

.advice{
margin-top:20px;
border:2px solid black;
padding:10px;
}
